header nav{
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
  }
  
  header nav p{
    font-weight: bold;
  }
  
  header nav ul{
    list-style: none;
    display: flex;
  }
  
header nav ul a{
    margin: 0 15px;
    padding: 10px 10px;
    color: black;
}

  header{
    background:url('assets/header.jpg');
  }

.header-content-historia h1{
    text-align: center;
  }
  
  .header-content-historia p{
    margin: 0;
    text-align: center;
    font-size: medium;
  }
  
  .intro-historia{
    max-width: 700px;
    text-align: justify;
  }
  
  img{
    margin-left: 200px;
    max-width: 400px;
    max-height: 400px;
  }
  
  .intro-historia p{
    font-size: 18.3px;
    margin: 10px;
  }
  
  .container-historia {
    display: flex;
  }
  
  .intro-historia, .imagem-castelo, .imagem-castelo2{
    flex: 1;
  }