@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

header nav{
  display: flex;
  justify-content: space-between;
  margin: auto 30px;
}

header nav p{
  font-weight: bold;
}

header nav ul{
  list-style: none;
  display: flex;
}

header nav ul a{
  margin: 0 15px;
  padding: 10px 10px;
  color: black;
}

header{
  background:url('assets/header.jpg');
}

.header-content{
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
}

.intro{
  max-width: 600px;
  text-align: justify;
}

img{
  margin-left: 10px;
  max-width: 400px;
  max-height: 400px;
}

.intro p{
  font-size: 19.5px;
  margin: 10px;
}

.container {
  display: flex;
}

.intro p, .imagem, .imagem2{
  flex: 1;
}