@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

header nav{
  display: flex;
  justify-content: space-between;
  margin: auto 30px;
}

header nav p{
  font-weight: bold;
}

header nav ul{
  list-style: none;
  display: flex;
}

header nav ul a{
  margin: 0 15px;
  padding: 10px 10px;
  color: black;
}

header{
  background: repeat url('assets/header.jpg');
}

.header-content{
  max-width: 25em;
  margin: 10px auto;
  text-align: center;
}

.intro{
  max-width: 37.5em;
  text-align: justify;
}

img{
  margin-left: 10px;
  max-width: 25em;
  max-height: 25em;
}

.intro p{
  font-size: 19.5px;
}

.container {
  display: flex;
}

@media only screen and (max-width: 620px) {
  header nav, header nav p, header nav ul, header nav ul a, header, .header-content{
    width: 100%;
    margin:auto;
    text-align: justify;
    font-size: 3vw;
  }
}

@media only screen and (max-width: 620px) {
  img{
    width: 100%;
    margin: auto;
    text-align: justify;
    font-size: 3vw;
  }
}

@media only screen and (max-width: 620px) {
  .intro, .intro p, .container{
    width: 100%;
    margin: auto;
    text-align: justify;
    font-size: 3vw;
  }
}

@media only screen and (max-width: 1024px) {
  header nav, header nav p, header nav ul, header nav ul a, header, .header-content{
    width: 100%;
    margin:auto;
    text-align: justify;
    font-size: 3vw;
  }
}

@media only screen and (max-width: 1024px) {
  img{
    width: 100%;
    margin: auto;
    text-align: justify;
    font-size: 3vw;
  }
}

@media only screen and (max-width: 1024px) {
  .intro, .intro p, .container{
    width: 100%;
    margin: auto;
    text-align: justify;
    font-size: 3vw;
  }
}